<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="DefaultConnection" connectionString="Data Source=mestools2;Initial Catalog=InternTestDB;User ID=intern;Password=AmicaIntern123" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>
